

:root {
  /* Color Scheme */
  --clr-light: #fff;
  --clr-dark: #161819;

  --clr-blue: #8ef2ff;
  --clr-accent: #e36e40;

  --grid-square-width: 40px;
  --destroyer-width: 80px;
  --cruiser-width: 120px;
  --battleship-width: 160px;
  --carrier-width: 200px;
}

body {
  font-family: 'Neuton', serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.grid-container {
  display: grid;
  margin: 0 80px 80px 80px;
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-rows: repeat(10, 1fr); */
  border: 1px solid var(--clr-light);
}

.squares {
  border: 1px solid var(--clr-light);
  width: var(--grid-square-width);
  height: var(--grid-square-width);
}

.game {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}



.shipStyle {
  height: var(--grid-square-width);
  background-color: var(--clr-blue);
  transition: opacity 0.1s ease;
}



.ships .ship {
  width: var(--grid-square-width);
}

.ship {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10em;
  left: 4em;
}

.destroyer {
  width: var(--destroyer-width);
}